<div class="relative inline-block text-left">
    <button
      class="lang-selector inline-flex items-center justify-center px-2 py-2 border-2 border-[#074BCF] rounded text-sm font-bold text-[#074BCF] bg-transparent cursor-pointer focus:outline-none"
      (click)="toggle()"
      type="button"
    >
      {{ currentLang | uppercase }}
      <svg class="w-4 h-4 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>
  @if (open) {
    <div class="fixed inset-0 bg-black/50 z-40" (click)="open = false"></div>
    <div class="origin-top-right absolute right-0 mt-2 w-36 rounded-md shadow-lg bg-white ring-1 ring-grey ring-opacity-5 focus:outline-none z-50" (click)="$event.stopPropagation()">
      <div class="p-1">
        @for (lang of languages; track $index) {
          <button
            (click)="changeLang(lang.code)"
            class="w-full px-4 py-2 text-sm text-gray-700 rounded-md hover:bg-[#074BCF] hover:text-white cursor-pointer">
            {{ lang.label }}
          </button>
        }
      </div>
    </div>
  }
  </div>
