<section id="contacts" [appScrollSpy]="'contacts'" class=" py-16 text-white">
    <div class="max-w-6xl mx-auto px-4">
      <h1 class="text-3xl font-bold text-center mb-8">{{'CONTACTS.PAGE_TITLE' | translate}}</h1>
  
      <div class="text-white text-base space-y-4">
        <h2 class="text-xl font-semibold">{{'CONTACTS.ADDRESS' | translate}}</h2>
        <ul class="space-y-2">
          <li><strong>📍 {{'CONTACTS.ADDRESS_LABEL' | translate}}: </strong> {{'CONTACTS.ADDRESS_VALUE' | translate}}</li>
          <li><strong>📞 {{'CONTACTS.PHONE_LABEL' | translate}}: </strong> <a href="tel:+34616200058" class="text-[#7a77db] hover:underline">{{'CONTACTS.PHONE_VALUE' | translate}}</a></li>
          <li><strong>✉️ {{'CONTACTS.EMAIL_LABEL' | translate}}: </strong> <a href="mailto:chipvalencia@gmail.com" class="text-[#7a77db] hover:underline"> {{'chipvalencia@gmail.com'}}</a></li>
          <li><strong>🕒 {{'CONTACTS.WORKING_HOURS_LABEL' | translate}}: </strong> {{'CONTACTS.WORKING_HOURS_VALUE' | translate}}</li>
        </ul>
        <p class="text-sm text-gray-500">
          {{'CONTACTS.ADDRESS_PARKING_DESCRIPTION' | translate}}
        </p>
      </div>
    </div>
  
    <!-- Карта -->
    <div class="mt-12">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3111.499408755068!2d-0.3433487!3d39.4618769!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fc449d80ab2ec23%3A0x6b9787ea4e1e8d13!2sReparaci%C3%B3n%20de%20port%C3%A1tiles%20CHIP!5e0!3m2!1ses!2ses!4v1713789730000!5m2!1ses!2ses"
        title="Map of CHIP Valencia"
        width="100%"
        height="400"
        style="border:0;"
        allowfullscreen="true"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="w-full"
      ></iframe>
    </div>

    <div class="mt-8 text-center">
      <p class="text-sm text-gray-500">
        {{'CONTACTS.WELCOME_TEXT' | translate}}
      </p>

      <a
        href="https://www.google.com/maps/dir/?api=1&destination=Reparacion+de+portatiles+CHIP+Carrer+de+Jes%C3%BAs,+83,+46007+Val%C3%A8ncia"
        target="_blank"
        class="inline-flex justify-center items-center w-full sm:max-w-[50%] border-solid border-2 border-yellow-600 mx-auto my-4 px-6 py-4 text-yellow-600 font-medium rounded shadow transition">
        <span class="mr-5">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-footprints-icon lucide-footprints"><path d="M4 16v-2.38C4 11.5 2.97 10.5 3 8c.03-2.72 1.49-6 4.5-6C9.37 2 10 3.8 10 5.5c0 3.11-2 5.66-2 8.68V16a2 2 0 1 1-4 0Z"/><path d="M20 20v-2.38c0-2.12 1.03-3.12 1-5.62-.03-2.72-1.49-6-4.5-6C14.63 6 14 7.8 14 9.5c0 3.11 2 5.66 2 8.68V20a2 2 0 1 0 4 0Z"/><path d="M16 17h4"/><path d="M4 13h4"/></svg>
        </span>
        <span class="text-3xl">
          {{'CONTACTS.GET_DIRECTIONS' | translate}}
        </span>
      </a>
    </div>
  </section>

  