<section [appScrollSpy]="'home'" id="home" class="relative bg-cover bg-center text-white" style="background-image: url('/images/mobile-repair.webp');">
  <div class="bg-black/60 flex flex-col items-center justify-center py-40 px-4 text-center">
    <h1 class="text-5xl font-bold mb-4">{{ 'HOME.HERO_TITLE' | translate }}</h1>
    <p class="text-xl">{{ 'HOME.HERO_SUBTITLE' | translate }}</p>
  </div>
</section>
<div class="dark-horizontal">
  <section class="max-w-7xl mx-auto text-white pb-24 px-4">
    <div class=" p-24 dark-pattern-blur">
      <header class="mb-16 header-background">
        <h1 class="text-5xl font-bold leading-tight mb-6 text-center">
          {{ 'HOME.TITLE' | translate }}
        </h1>
        <p class="text-lg text-gray-300 text-center mb-16 max-w-3xl mx-auto">
          {{ 'HOME.DESCRIPTION' | translate }}
        </p>
      </header>


      <div class="space-y-12">
        @for (card of cards; track $index) {
        <div class="grid grid-cols-1 lg:grid-cols-2 items-center gap-6">

          <div [class.lg:order-2]="$index % 2 !== 0">
            <!-- <span class="text-sm text-yellow-500 uppercase tracking-widest mb-2 block">{{ '0' + ($index + 1) }}</span> -->
            <h2 class="text-3xl font-semibold mb-4 text-yellow-600">{{ card.title | translate }}</h2>
            <p class="text-gray-300">{{ card.desc | translate }}</p>
          </div>

          <div [class.lg:order-1]="$index % 2 !== 0">
            <img [src]="card.image" [attr.alt]="card.alt | translate"
              class="rounded-xl shadow-lg w-full object-cover max-h-[400px]" />
          </div>

        </div>
        }

      </div>
    </div>
  </section>

  <section class="text-white">
    <div class="max-w-6xl mx-auto px-4 py-16">
      <h2 class="text-3xl font-bold text-center mb-10">{{'HOME.WHY_US' | translate}}</h2>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">

        <div class="dark-horizontal shadow-xl rounded-xl shadow p-6 flex flex-col items-center text-center">
          <div class="text-blue-600 text-4xl mb-4">🔧</div>
          <h4 class="text-xl font-semibold mb-2">{{'HOME.WHY_US_EXP_TITLE' | translate}}</h4>
          <p>{{'HOME.WHY_US_EXP_DESC' | translate}}</p>
        </div>

        <div class="dark-horizontal shadow-xl rounded-xl shadow p-6 flex flex-col items-center text-center">
          <div class="text-blue-600 text-4xl mb-4">⚡</div>
          <h4 class="text-xl font-semibold mb-2">{{'HOME.WHY_US_QUICK_TITLE' | translate}}</h4>
          <p>{{'HOME.WHY_US_QUICK_DESC' | translate}}</p>
        </div>

        <div class="dark-horizontal shadow-xl rounded-xl shadow p-6 flex flex-col items-center text-center">
          <div class="text-blue-600 text-4xl mb-4">💰</div>
          <h4 class="text-xl font-semibold mb-2">{{'HOME.WHY_US_FAIR_PRICE_TITLE' | translate}}</h4>
          <p>{{'HOME.WHY_US_FAIR_PRICE_DESC' | translate}}</p>
        </div>

        <div class="dark-horizontal shadow-xl rounded-xl shadow p-6 flex flex-col items-center text-center">
          <div class="text-blue-600 text-4xl mb-4">🛡️</div>
          <h4 class="text-xl font-semibold mb-2">{{'HOME.WHY_US_WARRANTY_TITLE' | translate}}</h4>
          <p>{{'HOME.WHY_US_WARRANTY_DESC' | translate}}</p>
        </div>

        <div class="dark-horizontal shadow-xl rounded-xl shadow p-6 flex flex-col items-center text-center">
          <div class="text-blue-600 text-4xl mb-4">📍</div>
          <h4 class="text-xl font-semibold mb-2">{{'HOME.WHY_US_LOCATION_TITLE' | translate}}</h4>
          <p>{{'HOME.WHY_US_LOCATION_DESC' | translate}}</p>
        </div>

        <div class="dark-horizontal shadow-xl rounded-xl shadow p-6 flex flex-col items-center text-center">
          <div class="text-blue-600 text-4xl mb-4">💬</div>
          <h4 class="text-xl font-semibold mb-2">{{'HOME.WHY_US_CONSULT_BY_PHONE_TITLE' | translate}}</h4>
          <p>{{'HOME.WHY_US_CONSULT_BY_PHONE_TITLE' | translate}}</p>
        </div>

      </div>
    </div>
  </section>

  <app-contacts></app-contacts>

  <app-faq></app-faq>
</div>