<section [appScrollSpy]="'home'" id="home" class="relative">
  <div class="max-w-7xl px-2 sm:px-6 lg:px-8 mx-auto grid grid-cols-1 md:grid-cols-2 gap-6 items-center pb-48 sm:pb-24 mt-12 hero-bg">
    <div class="space-y-4">
      <div class="flex flex-col bg-white sm:flex-row sm:items-center gap-2 text-[#548EF8]">
        <a href="https://www.instagram.com/chip.valencia" class="flex items-center gap-2 hover:underline">
          <img src="/images/svg/insta.svg" width="20" height="20" alt="Instagram" />
          &#64;chip.valencia
        </a>
        <a href="mailto:chip.service.valencia@gmail.com" title="chip.service.valencia@gmail.com" class="flex items-center gap-2 hover:underline">
          <img src="/images/svg/mail.svg" width="20" height="20" alt="Email" />
          &#64;chip.service.valencia
        </a>
      </div>
      <p class="text-[#3C485B] text-base leading-6 font-normal"><mark class="bg-white">{{ 'HOME.HERO_SOCIALS' | translate }}</mark></p>
      <h1 class="text-[40px] leading-[60px] font-semibold text-[#051937] whitespace-pre-line"><mark class="bg-white">{{ 'HOME.HERO_TITLE' | translate }}</mark></h1>
      <p class="text-[#3C485B] text-[20px] leading-[32px] font-normal whitespace-pre-line"><mark class="bg-white">{{ 'HOME.HERO_SUBTITLE' | translate }}</mark></p>
      <a href="#contacts" class="inline-block bg-[#548EF8] text-[#EEEFEF] px-6 py-3">{{ 'HOME.HERO_BUTTON' | translate }}</a>
    </div>
  </div>
</section>
<section class="max-w-7xl px-2 sm:px-6 lg:px-8 mx-auto py-7 bg-white overflow-hidden my-24">
  <div class="flex justify-between items-center">
    @for (logo of logosRow; track $index) {
      <img [src]="logo" alt="brand logo" class="h-3 sm:h-4 w-auto" />
    }
  </div>
</section>
<section class="max-w-7xl mx-auto my-24 px-2 sm:px-6 lg:px-8 bg-transparent">
  <h2 class="text-[32px] leading-[32px] font-semibold text-[#051937] mb-6">
    {{ 'HOME.TITLE' | translate }}
  </h2>
  <p class="text-[20px] leading-[32px] font-normal text-[#3C485B] mb-10">
    {{ 'HOME.DESCRIPTION' | translate }}
  </p>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    @for (card of cards; track $index) {
      <div class="flex flex-col">
        <img loading="lazy" [src]="card.image" [attr.alt]="card.alt | translate" width="516" height="258" class="w-full object-cover" />
        <p class="mt-3 text-[16px] leading-[24px] font-normal text-[#3C485B]">{{ card.text | translate }}</p>
      </div>
    }
  </div>
</section>

<section class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 my-36">
  <h2 class="text-[32px] leading-[48px] font-semibold text-[#051937] mb-8">
    {{ 'HOME.WHY_CLIENTS_TITLE' | translate }} <span class="text-[#548EF8]">Chip</span>?
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
    <div class="flex items-center">
      <img src="/images/svg/scope.svg" alt="scope" width="36" height="36" class="w-9 h-9 mr-6" />
      <span class="max-w-[160px] text-[#3C485B] text-[20px] leading-[32px] font-normal">{{ 'HOME.WHY_CLIENTS_FREE_DIAGNOSTIC' | translate }}</span>
    </div>
    <div class="flex items-center">
      <img src="/images/svg/shield.svg" alt="shield" width="36" height="36" class="w-9 h-9 mr-6" />
      <span class="max-w-[160px] text-[#3C485B] text-[20px] leading-[32px] font-normal">{{ 'HOME.WHY_CLIENTS_GUARANTEE' | translate }}</span>
    </div>
    <div class="flex items-center">
      <img src="/images/svg/thumb-up.svg" alt="thumb up" width="36" height="36" class="w-9 h-9 mr-6" />
      <span class="max-w-[160px] text-[#3C485B] text-[20px] leading-[32px] font-normal">{{ 'HOME.WHY_CLIENTS_FAIR_PRICES' | translate }}</span>
    </div>
    <div class="flex items-center">
      <img src="/images/svg/star.svg" alt="star" width="36" height="36" class="w-9 h-9 mr-6" />
      <span class="max-w-[160px] text-[#3C485B] text-[20px] leading-[32px] font-normal">{{ 'HOME.WHY_CLIENTS_EXPERIENCED_MASTER' | translate }}</span>
    </div>
  </div>
</section>

<section class="bg-[#548EF8] text-[#EEEFEF] py-24">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="flex flex-col sm:flex-row justify-between items-center mb-16">
      <h3 class="text-[32px] leading-[48px] font-semibold">
        {{ 'HOME.STEPS_TITLE' | translate }}
      </h3>
      <a href="#contacts" class="mt-4 sm:mt-0 inline-block bg-[#A8EB12] text-[#051937] px-6 py-3 font-semibold text-[16px] leading-[24px]">
        {{ 'HOME.HERO_BUTTON' | translate }}
      </a>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      @for (step of steps; track $index) {
        <div class="flex flex-col">
          <img loading="lazy" [src]="step.image" alt="step" class="mb-4 w-full object-contain" />
          <div class="flex items-center">
            <span class="text-[60px] leading-[90px] font-semibold mr-4">{{ step.number }}</span>
            <span class="text-[16px] leading-[24px] font-medium" [innerHTML]="step.text | translate"></span>
          </div>
        </div>
      }
    </div>
  </div>
</section>

<app-feedback-carousel></app-feedback-carousel>

<app-contacts></app-contacts>

<app-faq></app-faq>