<nav class="bg-white sticky top-0 z-50">
    <div class="mx-auto max-w-7xl p-4 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between py-4 sm:py-9">
        <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">

            <!-- Mobile menu button-->
          <button type="button" 
            class="relative inline-flex items-center justify-center rounded-md p-2 text-[#051937] hover:bg-gray-100 hover:text-[#1680AC] focus:ring-2 focus:ring-[#1680AC] focus:outline-none focus:ring-inset"
            aria-controls="mobile-menu"
            (click)="showMenu = !showMenu"
            [attr.aria-expanded]="showMenu ? 'true' : 'false'">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>

        </div>
        <div class="flex flex-1 items-center justify-center sm:justify-start">
          <div class="flex shrink-0 items-center">
            <a [routerLink]="['/']" class="flex items-center text-[#1680AC]" aria-label="Home">
                <img src="/images/svg/logo-chip.svg" alt="Chip logo" class="w-[40px] h-[36px]" />
                <span class="ml-2 text-xl font-semibold">Chip</span>
            </a>
          </div>
          <div class="hidden ml-auto sm:flex items-center space-x-4">
            @for (btn of navButtons; track btn.section) {
              @if (btn.section !== 'status') {
                <a [routerLink]="getRouterLink(btn.section)"
                   fragment="{{btn.section}}"
                   [class.active]="(active$ | async) === btn.section"
                   class="relative rounded-md px-3 py-2 text-sm font-medium text-[#051937] hover:text-[#1680AC] flex items-center space-x-2">
                   <span>{{ btn.key | translate }}</span>
                </a>
              }
            }
            <a  [routerLink]="getRouterLink('status')"
                [routerLinkActiveOptions]="{exact: true}"
                fragment="status"
                [routerLinkActive]="'text-[#1680AC]'"
                class="rounded-md px-3 py-2 text-sm font-medium text-[#051937] hover:text-[#1680AC] hidden sm:block">
                {{ 'NAVIGATION.STATUS' | translate }}
            </a>
            <app-language-selection></app-language-selection>
          </div>
        </div>

      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    @if (showMenu) {
        <div class="sm:hidden" id="mobile-menu">
            <div class="space-y-1 px-2 pt-2 pb-3">
              @for (btn of navButtons; track btn.section) {
                @if (btn.section !== 'status') {
                  <a [routerLink]="getRouterLink(btn.section)"
                     fragment="{{btn.section}}"
                     (click)="showMenu = false"
                     [class.active]="(active$ | async) === btn.section"
                   class="flex items-center space-x-2 rounded-md px-3 py-2 text-base font-medium text-[#051937] hover:text-[#1680AC]">
                     <span>{{ btn.key | translate }}</span>
                  </a>
                }
              }
              <a  [routerLink]="getRouterLink('status')"
                  [routerLinkActiveOptions]="{exact: true}"
                  fragment="status"
                  (click)="showMenu = false"
                  [routerLinkActive]="'text-[#1680AC]'"
                  class="block rounded-md px-3 py-2 text-base font-medium text-[#051937] hover:text-[#1680AC]">
                  {{ 'NAVIGATION.STATUS' | translate }}
              </a>
            </div>
        </div>
    }
    
  </nav>