<nav class="bg-sky-800 sticky top-0 z-50">
    <div class="mx-auto max-w-6xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">

            <!-- Mobile menu button-->
          <button type="button" 
            class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-sky-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-hidden focus:ring-inset" 
            aria-controls="mobile-menu"
            (click)="showMenu = !showMenu"
            [attr.aria-expanded]="showMenu ? 'true' : 'false'">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>

        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex shrink-0 items-center text-white">
            <a [routerLink]="['/']" class="flex items-center" aria-label="Home">
                <svg xmlns="http://www.w3.org/2000/svg" 
                    width="24" 
                    height="24" 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    stroke="currentColor" 
                    stroke-width="2" 
                    stroke-linecap="round" 
                    stroke-linejoin="round" 
                    class="lucide lucide-cpu-icon lucide-cpu">
                    <path d="M12 20v2"/>
                    <path d="M12 2v2"/>
                    <path d="M17 20v2"/>
                    <path d="M17 2v2"/>
                    <path d="M2 12h2"/>
                    <path d="M2 17h2"/>
                    <path d="M2 7h2"/>
                    <path d="M20 12h2"/>
                    <path d="M20 17h2"/>
                    <path d="M20 7h2"/>
                    <path d="M7 20v2"/>
                    <path d="M7 2v2"/>
                    <rect x="4" y="4" width="16" height="16" rx="2"/>
                    <rect x="8" y="8" width="8" height="8" rx="1"/>
                </svg>
                <span class="ml-2 text-xl font-semibold">Chip</span>
            </a>
            
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-sky-900 text-white", Default: "text-gray-300 hover:bg-sky-700 hover:text-white" -->
                <a routerLink="/"
                    fragment="home"
                    [class.active]="(active$ | async) === 'home'"
                    class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-sky-700 hover:text-white">
                    Home
                </a>
                <a routerLink="/"
                    fragment="contacts"
                    [class.active]="(active$ | async) === 'contacts'"
                    class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-sky-700 hover:text-white">
                    How to reach us
                </a>
                
                <a routerLink="/"
                   fragment="faq"
                   [class.active]="(active$ | async) === 'faq'"
                   class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-sky-700 hover:text-white">
                   FAQ
                </a>

            </div>
          </div>
        </div>

        <!-- Language selector -->
        <div class="absolute right-0 top-0 bottom-0 flex items-center pr-4">
          <div class="flex space-x-4">
            <a  routerLink="/status"
                [routerLinkActiveOptions]="{exact: true}" 
                fragment="status"
                [routerLinkActive]="'text-white bg-sky-900 text-white hover:bg-sky-900'" 
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-sky-700 hover:text-white">
                Order status
            </a>
          <app-language-selection></app-language-selection>
          </div>
          
        </div>

      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    @if (showMenu) {
        <div class="sm:hidden" id="mobile-menu">
            <div class="space-y-1 px-2 pt-2 pb-3">
              <!-- Current: "bg-sky-900 text-white", Default: "text-gray-300 hover:bg-sky-700 hover:text-white" -->
              <a href="#" class="block rounded-md bg-sky-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Dashboard</a>
              <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-sky-700 hover:text-white">Team</a>
              <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-sky-700 hover:text-white">Projects</a>
              <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-sky-700 hover:text-white">Calendar</a>
            </div>
        </div>
    }
    
  </nav>